<a href="https://colab.research.google.com/github/marierhs/ejercicios-/blob/main/clase4_coleccionesipynb.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Colecciones.
Las colecciones son tipos cuyos objetos son capaces de contener a otros objetos.

Python 3 cuenta con los siguientes tipos de colecciones.

str
bytes.
bytearray.
list.
tuple.
dict.
set.
frozenset.
El tipo str.
Las cadenas de caracteres son colecciones ordenadas e indexables numéricamente de caracteres.

El tipo más común de cadenas de caracteres es str, el cual se define encerrando el texto entre comillas " o apóstrofes '.

Cualquiera de las siguientes sintaxis es válida:

"<texto>"
'<texto>'
Los objetos de tipo str son inmutables.

En Python 3 los objetos str utilizan la codificación de caracteres UTF-8 de Unicode.

Ejemplos:

In [ ]:
"Hola mundo"

In [ ]:
"que tal"

In [ ]:
"bayerische motoren werke"

La siguiente celda, definirá a un objeto str vacío.

In [ ]:
""

El tipo bytes.
Los objetos de tipo bytes son colecciones ordenadas, inmutables e indexables numéricamente de caracteres ASCII, que corresponden a un valor numérico que va de 0 a 255.

El contenido de este tipo de caracteres se encierra entre apóstrofes y comillas, pero se antecede una letra b al principio del objeto.

Cualquiera de las siguientes sintaxis es válida:

b"<texto>"
b'<texto>'
Ejemplos:

Las siguiente celdas son ejemplos correctos de objetos tipo bytes.

In [ ]:
b"hola"

La siguiente celda, definirá a un objeto bytes vacío.

In [ ]:
b""

La siguiente celda define a un objeto tipo bytes que incluye un caracter inexistente en la tabla del código ASCII , lo cual desencadenará un error de tipo SyntaxError.

In [ ]:
b"Kurt Friedrich Gödel"

El tipo bytearray.

Los objetos de tipo bytearray son colecciones ordenadas, mutables e indexables numéricamente de caracteres ASCII, los cuales son creado a partir de un objeto de tipo bytes mendiante la función bytearray() usando la siguiente sintaxis:

bytearray(<objeto tipo bytes>)
Ejemplo:

La siguiente celda creará un objeto de tipo bytearray a partir del objeto b'hola'.

In [ ]:
bytearray(b"hola")

El tipo list.

Los objetos tipo list son colecciones ordenadas de objetos, los cuales son indexables numéricamente y son mutables.

Se definen encerrando entre corchetes [ ] una sucesión de objetos separados por comas ,.

La sintaxis es la siguiente:

[<objeto 1>, <objeto 2>, ..., <objeto n>]
Ejemplos:

Las siguientes celdas definen objetos tipo list válidos.

In [ ]:
[1, 2, "tres", True, None]

In [ ]:
[None]

La siguiente celda define a un objetos tipo list que a su vez contiene a otro objeto de tipo list.

In [ ]:
[False, ['auto', 30, 'gasolina'], 73.12]

La siguiente celda define a un objeto tipo list vacío.

In [ ]:
[]

El tipo tuple.

Los objetos tipo tuple son colecciones ordenadas de objetos, los cuales son indexables numéricamente e inmutables.

Se definen encerrando entre paréntesis ( ) una sucesión de objetos separados por comas ,.

La sintaxis es la siguiente:

(<objeto 1>, <objeto 2>, ..., <objeto n>)

In [ ]:
(1. 2, "tres", True, None)

La siguiente celda define a un objetos tipo tuple que a su vez contiene a otro objeto de tipo list.

In [ ]:
(False, ['auto', 30, 'gasolina'], 73.12)

La siguiente celda define a un objeto tipo tuple vacío.

In [ ]:
()

NOTA:

Un objeto de tipo tuple que solo contiene un elemento None se convierte en None.

In [ ]:
(None)

Para crear un objeto tuple que contenga un elemento None, se debe de poner una coma , al final.

In [ ]:
(None,)

El tipo dict.

El tipo dict es una colección mutable de pares :, el cual es indexable mediante la clave de cada elemento.

Los pares están separados por comas , y delimitados por llaves { }.

La sintaxis para definir un objeto tipo dict es:

{<clave 1>:<valor 1>, <clave 2>:<valor 2>, ... , <clave n>:<valor n>}
La clave, a la cual también se le referirá como "identificador", debe de ser de algún tipo inmutable y único dentro del objeto tipo dict.

El valor puede ser un objeto de cualquier tipo y puede repetirse dentro del objeto de tipo dict. NOTA: A partir de Python 3.7, los objetos de tipo dict respetan el orden en el que los elementos son ingresados, aun cuando no son indexables numéricamente. Las versiones previas de Python no necesariamente lo respetan.

Ejemplos:

Las siguientes celdas definen objetos tipo dict válidos.

In [ ]:
{'nulo':None, True:'V', 2:[1, 2, 3], '2':False, ('x', 'y'): 15.3}

In [ ]:
{'nombre':'Juan', 'apellido': 'Pérez', 'promedio':7.5}

La siguiente celda define un objeto tipo dict vacio

In [ ]:
{}

La siguiente celda definen un objeto tipo dict que repite un par con la clave nombre. El último par es el que será conservado.

In [ ]:
{'nombre':'Juan', 'apellido': 'Pérez', 'promedio':7.5, 'nombre':'Laura'}

El tipo set.

Los objetos de tipo set son colecciones de objetos capaces de realizar operaciones de conjuntos. Aún cuando los objetos set son mutables, los elementos contenidos en ellos son únicos e inmutables.

Los objetos de tipo set se definen encerrando entre llaves { } una sucesión de objetos separados por comas ,.

La sintaxis es la siguiente:

{<objeto 1>,<objeto 2>, ..., <objeto n>} En caso de que se definan varios elementos del mismo valor, sólo se conservará uno.

NOTA: Los objetos de tipo set no respetan necsariamente el orden en el que los elementos son ingresado.

Ejemplos:

Las siguientes celdas definen objetos tipo set válidos.

In [ ]:
{False, ('auto', 30, 'gasolina'), 73.12}

La siguiente celda define un objeto tipo set que incluye varios elementos de valor numérico equivalente a 3 aún cuando no son del mismo tipo y también se incluye el objeto '3', el cual no es un valor numérico, sino un caracter.

In [ ]:
{3, 2, True, None, 0, False, 3.0, 5, 3., '3', 'Hola', 3, 3, 1}

En la siguiente celda se define un objeto de tipo set en donde 1 y True tienen el mismo valor aunque no son del mismo tipo. En este caso, se desecha uno de estos objetos.

In [ ]:
{1, 2, "tres", True, None}

La siguiente celda define a un objeto de tipo set que incluye a un objeto de tipo list, el cual es mutable, lo cual desencadenará un error de tipo TypeError.

In [ ]:
{None, {'uno':1, 'dos': 2}}

El tipo frozenset.

Los objetos tipo ***frozenset ***son conjuntos inmutables de objetos únicos.

Este tipo de objetos sólo puede contener objetos inmutables.

Se definen utilizando la función frozenset() e ingresando una colección como argumento.

La sintaxis es la siguiente:

frozenset(<colección>)

La función frozenset() puede aceptar los siguientes tipos de objetos, siempre y cuando contengan exclusivamente objetos inmutables.

La función frozenset() puede aceptar los siguientes tipos de objetos, siempre y cuando contengan exclusivamente objetos inmutables.

set
list.
tuple.
Elemento de lista
Elemento de lista
En el caso de los objetos de dict, se toma exclusivamente a las claves para formar el objeto. En el caso de los objetos de tipo str y bytes, cada caracter de la cadena se vuelve un elemento separado.

NOTA: Los objetos de tipo frozenset no necesariamente respetan el orden en el que los elementos son ingresados.

Ejemplos: La siguiente celda separará cada caracter del objeto 'Caracoles' y creará un conjunto de caracteres únicos.

In [ ]:
frozenset("caracoles")

La siguiente celda separará cada caracter del objeto b'Caracoles' y creará un conjunto de valores enteros únicos. Cada valor corresponde a la posición de cada caracter en el código ASCII.

In [ ]:
frozenset(b"caracoles")

La siguiente celda creará un objeto frozenset a partir de un objeto de tipo list.

In [ ]:
frozenset([1, 2, 3])

La siguiente celda creará un objeto frozenset a partir de un objeto de tipo tuple

In [ ]:
frozenset((1, 2, 3))

La siguiente celda creará un objeto frozenset a partir de un objeto de tipo dict.

In [ ]:
frozenset({1, 2, 3})

La siguiente celda creará un objeto frozenset a partir de un objeto de tipo dict. En este caso las claves serán las que conformen el nuevo objeto

In [ ]:
frozenset({'nombre': 'Juan', 'apellido': 'Pérez'})

La siguiente celda define un objeto de tipo frozenset vacío

In [ ]:
frozenset({})

La siguiente celda define un objeto de tipo frozenset vacío

In [ ]:
frozenset((False, ['auto', 30, 'gasolina'], 73.12))

La siguiente celda no contiene a una colección sino a una secuencia de elementos, por lo que se desencadenará un error de tipo TypeError.

In [ ]:
frozenset(False, 'auto', 30, 'gasolina', 73.12)